<!DOCTYPE html>
<html>
<head>
  <title>ClothingStore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="container fluid">
        <div class="nav-header">
          <div class="navbar-brand">
            Clothing Store
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">

    <%= yield %>

  </div>

</body>
</html>
